* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow-x: hidden;
}

.part1
{
    background: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)),url(./images/bg.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-left:75px;
}
.part2
{
    background: linear-gradient(rgba(0,0,0,0.00),rgba(0,0,0,0.0)),url(./images/bg123.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.home_content
{
    vertical-align: middle;
    padding-bottom: 15.6rem;
    overflow: hidden;
    position: relative; 
}
.fixed
{
    position: fixed;
    top: 50px;
    left:10px;
    color:#cc147f;
}
.info
{
    font-family: "metropolis-regular", sans-serif;
    font-size: 1.5rem;
    line-height: 1.75;
    padding: 75px;
    text-align: justify;
}
@media only screen and (max-width: 700px)
.home_content {
    max-width: 480px;
}
@media only screen and (max-width: 800px)
.home_content {
    max-width: 580px;
}
@media only screen and (max-width: 1000px)
.home_content {
    max-width: 650px;
    padding-right: 0;
}
@media only screen and (max-width: 1200px)
.home_content {
    max-width: 850px;
}
@media only screen and (max-width: 1400px)
.home_content {
    max-width: 1000px;
}
@media only screen and (max-width: 1500px)
.home_content {
    max-width: 1100px;
}
.part2 h1
{
    color: black;
    position: relative;
    top:50px;
    left: 75px;
    margin-bottom: 10px;
    font-size: 4rem;
    font-family: "Domine", sans-serif;
}
#contact
{
    padding-left:0px;
}
.navbar 
{
    position: absolute;
    top:50px;
    left:300px;
    display:inline-block;
    font-size: 30px;
}
.navbar a{    
    text-decoration: none;
    color: white;
}
.navbar a:hover
{
    text-decoration: underline;
}

.scroll img
{
    background-color: white;
    height:30px;
    width:30px;
    border-radius: 100%;
}
.scroll
{   
    display: inline-block;
    color:white;
    position: absolute;
    right: 10px;
    bottom:20px;
    align-items: right;
}

.part1 h1
{
    color: white;
    position: relative;
    left: 75px;
    font-size: 6rem;
    font-family: "Domine", sans-serif;
}


.subtitle {
    color: rgba(255,255,255,0.7);
    position: relative;
    top: -15px;
    left: 75px;
    font-family: "metropolis-light", sans-serif;
    font-size: 2rem;
}
.subtitle::before {
    content: "";
    display: inline-block;
    margin-bottom: 10px;
    height: 2px;
    width: 40px;
    background-color: darkmagenta;
}
.follow
{
    position: relative;
    top: 40px;
    left:75px;
    text-decoration: none;
    color: white;
}
.image1
{
    width:500px;
    position: relative;
    left:30px;
    top:75px;
}
.competitions
{
    position: relative;
    right:15px;
}
.social-event
{
    position: relative;
    left:25px;
}
.social-event h2
{
    font:4rem;
    position: relative;
}
.social-event h2::before
{
    content: "1";
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border-color: white;
    border-width: 40px;
    text-align: center;
    color: #ffffff;
    background-color: #26bfb5;
    display: inline-block;
}
.social-event a
{
    text-decoration: none;
}
.social-event h2:hover
{
    font-size: 3rem;
}
.readmore {
    border: 2px solid #737373;
    text-align: center;
    background-color: #26bfb5;
    border-radius: 34px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: black;
}
.competitions h2
{
    font:4rem;
    position: relative;
}
.competitions h2::before
{
    content: "2";
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border-color: white;
    border-width: 40px;
    text-align: center;
    color: #ffffff;
    background-color: #26bfb5;
    display: inline-block;
}
.competitions a
{
    text-decoration: none;
}
.competitions h2:hover
{
    font-size: 3rem;
}
@media screen and (max-width: 800px) {
    .image1
    {
        overflow-y:hidden;
        width:100%;
        overflow: hidden;
    }
}
.part3
{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("./images/stats-bg.jpg");
    padding-left:75px;
}
.logo
{
    position: relative;
    top:0px;
    float:right;
}


.reg div
{
    background: linear-gradient(rgba(ff,ff,ff,0.9),rgba(ff,ff,ff,0.9));
    
}
label
{
    background-color: #cc147f;    
    font-family: "metropolis-regular", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    position: relative;
    left:75px;
    height:80px;
    padding-top: 20px;
}
input
{
    position: relative;
    left:75px;
    bottom: 12px;
    height: 60px;
    font-size:20px;
}
.sub-button
{
    width: 150px;
    background-color: black;
    text-align: center;
    color: white;
    border: #cc147f;
    border-radius: 10%;
}
.reg i
{
    overflow:hidden;
    height:60px;
    margin: 0;
    position: relative;
    top:5px;
}
.part3 h1
{
    color: #cc147f;
    position: relative;
    top:50px;
    left: 75px;
    margin-bottom: 80px;
    font-size: 6rem;
    font-family: "Domine", sans-serif;
}
.subhead{
    font-family: "metropolis-semibold", sans-serif;
    font-size: 1.6rem;
    line-height: 1.3125;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #cc147f;
    margin-top: 0;
    margin-bottom: 1.1rem;
    position: relative;
    left:75px;
}

hr
{
    position: relative;
    left:60px;
}

.email {
    display: block;
    font-family: "metropolis-light", sans-serif;
    text-decoration: none;
    font-size: 3.4rem;
    line-height: 1.222;
    color: #ffffff;
    padding-top: 3rem;
    position: relative;
    left:75px;
    overflow-y: hidden;
}
.contact_number
{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.3);
    display: block;
    position: relative;
    left:75px;
    top:10px;
    overflow-y: hidden;
    margin-bottom: 2rem;
    padding-bottom: 20px;
}

.oh
{
    overflow: hidden;
}
.content a{
    display:inline-block;
    font-size:2rem;
    color:white;
    text-decoration: none;
}
.content li{
    display:inline-block;
    font-size:3rem;
    color:white;
    text-decoration: none;
    margin:10px 75px;
}
.to_top
{
    position: relative;
    left:300px;
}
.content0 li
{
    text-decoration: none;
    color: white;
    font: 32px;
    display: inline-block;
    margin: 10px 75px ;
}
.content0 a
{
    text-decoration: none;
    color: white;
    font-size: 32px;
}
.content0 a:hover
{
    text-decoration: underline;
}
.content0 h2
{
    text-decoration: none;
    font-size: 32px;
}
